@model kurssienhallinta.Models.Teacher

@{
    ViewData["Title"] = "Lisää opettaja.";
}
<div class="container mt-5" style="max-width: 700px;">
    <h2 class="mb-4">Lisää uusi opettaja.</h2>
    <p>Täytä alla olevat tiedot lisätäksesi uuden opettajan järjestelmään.</p>

    <form asp-action="Add_teacher" method="post">
        <div class="row mb-3">
            <section class="col">
                <label asp-for="First_name" class="form-label fw-semibold">Opettajan etunimi</label>
                <input asp-for="First_name" class="form-control" />
                <span asp-validation-for="First_name" class="text-danger"></span>
            </section>

            <section class="col">
                <label asp-for="Last_name" class="form-label fw-semibold">Opettajan sukunimi</label>
                <input asp-for="Last_name" class="form-control" />
                <span asp-validation-for="Last_name" class="text-danger"></span>
            </section>
        </div>

        <div class="mb-3">
            <label asp-for="Subject" class="form-label fw-semibold">Opettajan aine</label>
            <input asp-for="Subject" class="form-control" />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Teacher_code" class="form-label fw-semibold">Tunnus</label>
            <input asp-for="Teacher_code" class="form-control" />
            <span asp-validation-for="Teacher_code" class="text-danger"></span>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Lisää opettaja
            </button>

            <a asp-action="List" class="btn btn-secondary ms-2">Peruuta</a>
        </div>
    </form>
</div>