START TRANSACTION;
CREATE TABLE "Rooms" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Name" text NOT NULL,
    "Capacity" integer NOT NULL,
    "Room_code" text NOT NULL,
    CONSTRAINT "PK_Rooms" PRIMARY KEY ("Id")
);

INSERT INTO "Rooms" ("Id", "Capacity", "Name", "Room_code")
VALUES (1, 100, 'Opetus Tila_0', 'OpT0');
INSERT INTO "Rooms" ("Id", "Capacity", "Name", "Room_code")
VALUES (2, 1, 'Kapselihotelli', 'Kp0');

SELECT setval(
    pg_get_serial_sequence('"Rooms"', 'Id'),
    GREATEST(
        (SELECT MAX("Id") FROM "Rooms") + 1,
        nextval(pg_get_serial_sequence('"Rooms"', 'Id'))),
    false);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20251118153037_CreateRooms', '9.0.10');

COMMIT;


