START TRANSACTION;
CREATE TABLE "Students" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Student_code" text NOT NULL,
    "F_Name" text NOT NULL,
    "L_Name" text NOT NULL,
    "Birthday" timestamp with time zone NOT NULL,
    "Year" integer NOT NULL,
    CONSTRAINT "PK_Students" PRIMARY KEY ("Id")
);

INSERT INTO "Students" ("Id", "Birthday", "F_Name", "L_Name", "Student_code", "Year")
VALUES (1, TIMESTAMPTZ '2000-01-01T00:00:00Z', 'Sieni', 'Mies', 'SM0', 1);
INSERT INTO "Students" ("Id", "Birthday", "F_Name", "L_Name", "Student_code", "Year")
VALUES (2, TIMESTAMPTZ '1990-01-01T00:00:00Z', 'Fun', 'Guy', 'FG0', 2);

SELECT setval(
    pg_get_serial_sequence('"Students"', 'Id'),
    GREATEST(
        (SELECT MAX("Id") FROM "Students") + 1,
        nextval(pg_get_serial_sequence('"Students"', 'Id'))),
    false);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20251119110053_CreateStudents', '9.0.10');

COMMIT;


