Build started...
Build succeeded.
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

START TRANSACTION;
CREATE TABLE "Courses" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Name" text NOT NULL,
    "Description" text NOT NULL,
    "Day_of_start" timestamp with time zone NOT NULL,
    "Day_of_end" timestamp with time zone NOT NULL,
    CONSTRAINT "PK_Courses" PRIMARY KEY ("Id")
);

INSERT INTO "Courses" ("Id", "Day_of_end", "Day_of_start", "Description", "Name")
VALUES (1, TIMESTAMPTZ '2025-02-01T00:00:00Z', TIMESTAMPTZ '2025-01-01T00:00:00Z', 'Näe terävästi ja opettele hianoo kieltä.', 'C# kurssi.');
INSERT INTO "Courses" ("Id", "Day_of_end", "Day_of_start", "Description", "Name")
VALUES (2, TIMESTAMPTZ '9001-01-01T00:00:00Z', TIMESTAMPTZ '1900-01-01T00:00:00Z', 'Opetellaan tunnistamaan sieniä, syömään sieniä, arvostamaan sieniä, rihmastoitumaan.', 'Sienestyskurssi');

SELECT setval(
    pg_get_serial_sequence('"Courses"', 'Id'),
    GREATEST(
        (SELECT MAX("Id") FROM "Courses") + 1,
        nextval(pg_get_serial_sequence('"Courses"', 'Id'))),
    false);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20251104082530_InitialCreate', '9.0.10');

COMMIT;


