START TRANSACTION;
CREATE TABLE "Teachers" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Teacher_code" text NOT NULL,
    "First_name" text NOT NULL,
    "Last_name" text NOT NULL,
    "Subject" text NOT NULL,
    CONSTRAINT "PK_Teachers" PRIMARY KEY ("Id")
);

INSERT INTO "Teachers" ("Id", "First_name", "Last_name", "Subject", "Teacher_code")
VALUES (1, 'Ville', 'Virtanen', 'Matematiikka', 'A10');
INSERT INTO "Teachers" ("Id", "First_name", "Last_name", "Subject", "Teacher_code")
VALUES (2, 'Anna', 'Korhonen', 'Web-ohjelmointi', 'B10');

SELECT setval(
    pg_get_serial_sequence('"Teachers"', 'Id'),
    GREATEST(
        (SELECT MAX("Id") FROM "Teachers") + 1,
        nextval(pg_get_serial_sequence('"Teachers"', 'Id'))),
    false);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20251119123254_CreateTeachers', '9.0.10');

COMMIT;


