<div class="container mt-3">

    @{
        ViewData["Title"] = "Kurssikirjautumiset";
    }
    <h1>@ViewData["Title"]</h1>

    <p>Tänne kurssikirjautumiset.</p>



</div>

<div class="linkContainer">
    <a class="sidebar-nav" href="@Url.Action("Add_enrollment", "Enrollments")">Kirjaudu kurssille</a>
    <a class="sidebar-nav" href="@Url.Action("Add_enrollment", "Enrollments")">Muokkaa kurssikirjautumisia</a>
</div>