<div class="container mt-3">

    @{
        ViewData["Title"] = "Kurssikirjautumiset";
    }
    <h1>@ViewData["Title"]</h1>

    <p>Tänne kurssikirjautumiset.</p>

    <a class="sidebar-nav" href="@Url.Action("Add_enrollment", "Enrollments")">Kirjaudu kurssille</a>

</div>