<div class="container mt-5" style="max-width: 700px;">
    <h2 class="mb-4">Lisää uusi opiskelija</h2>
    <p> Täytä alla olevat tiedot lisätäksesi uuden opiskelijan järjestelmään. </p>

    <form>

        <div class="mb-3">
            <label for="studentForeName" class="form-label fw-semibold">Opiskelijan etunimi</label>
            <input type="text" class="form-control" id="studentForeName" rows="3">
        </div>

        <div class="mb-3">
            <label for="studentSurName" class="form-label fw-semibold">Opiskelijan sukunimi</label>
            <input type="text" class="form-control" id="studentSurName" rows="3">
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="birthDate" class="form-label fw-semibold">Syntymäaika</label>
                <input type="date" class="form-control" id="birthDate">
            </div>
        </div>

        <div class="row mb-3">

            <div class="col">
                <label for="startDate" class="form-label fw-semibold">Opiskelun aloituspäivämäärä</label>
                <input type="date" class="form-control" id="studyStartDate">
            </div>
            <div class="col">
                <label for="endDate" class="form-label fw-semibold">Arvioitu valmistumispäivämäärä</label>
                <input type="date" class="form-control" id="studyEndDate">
            </div>
        </div>

        <div class="mb-3">
            <label for="vocationName" class="form-label fw-semibold">Opintoala</label>
            <select id="vocation" class="from-select">
                <option selected disabled>Valitse opintoala</option>
                <option>Tieto- ja viestintätekniikka</option>
                <option>Media-ala</option>
                <option>Rakennusala</option>
                <option>Laboratorioala</option>
                <option>Liikunnanohjaus</option>
                <option>Liiketoiminta</option>
                <option>Sosiaali- ja terveysala</option>
                <option>Maanmittausala</option>
                <option>Lääkeala</option>
            </select>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Lisää opiskelija
            </button>
            <a asp-action="index" class="btn btn-secondary ms-2">Peruuta</a>
        </div>
    </form>
</div>