<div class="container mt-3">

    @{
        ViewData["Title"] = "Opiskelijat";
    }
    <h1>@ViewData["Title"]</h1>

    <p>Tänne opiskelijat.</p>

    <a class="sidebar-nav" href="@Url.Action("Add_student", "Students")">Lisää opiskelija</a>

</div>