<div class="container mt-3">

    @{
        ViewData["Title"] = "Opiskelijat";
    }
    <h1>@ViewData["Title"]</h1>

    <p>Tänne opiskelijat.</p>

</div>

<div class="linkContainer">
    <a class="sidebar-nav" href="@Url.Action("Add_student", "Students")">Lisää opiskelija</a>
    <a class="sidebar-nav" href="@Url.Action("Add_student", "Students")">Muokkaa opiskelijoita</a>
</div>