@model ModifyStudentViewModel

<div class="container mt-5" style="max-width: 700px;">
    <h2 class="mb-4">Muokkaa kursseja</h2>

    <form method="post" asp-action="ModifyStudent">

        <input asp-for="Opiskelija.opiskelijatunnus" type="hidden" />

        <div id="courseForm" class="mt-4"">

            <div class=" mb-3">
            <label asp-for="Opiskelija.opiskelijatunnus" class="form-label fw-semibold">Opiskelijan tunnus</label>
            <input asp-for="Opiskelija.opiskelijatunnus" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Opiskelija.opiskelijaetunimi" class="form-label fw-semibold">Opiskelijan etunimi</label>
            <input asp-for="Opiskelija.opiskelijaetunimi" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Opiskelija.opiskelijasukunimi" class="form-label fw-semibold">Opiskelijan sukunimi</label>
            <input asp-for="Opiskelija.opiskelijasukunimi" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Opiskelija.syntymaaika" class="form-label fw-semibold">Opiskelijan syntymäaika</label>
            <input asp-for="Opiskelija.syntymaaika" type="date" class="form-control" />
        </div>

         <div class="mb-3">
            <label asp-for="Opiskelija.vuosikurssi" class="form-label fw-semibold">Opiskelijan vuosikurssi</label>
            <select asp-for="Opiskelija.vuosikurssi" class="form-select">
                <option selected disabled>Valitse vuosikurssi</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Tallenna muutokset
            </button>
            <a asp-controller="Courses" asp-action="List" class="btn btn-secondary ms-2">Peruuta</a>
        </div>

        </form>

         <div class="deleteBtn">
            <form method="post" asp-action="DeleteRoom">
                <input name="opiskelijatunnus" type="hidden" asp-for="Opiskelija.opiskelijatunnus" />
                <button type="submit" class="btn btn-danger btn-sm"
                    onclick="return confirm('Haluatko varmasti poistaa opiskelijan @Model.Opiskelija.opiskelijatunnus, @Model.Opiskelija.opiskelijatunnus? Tämä toiminto on peruuttamaton.');">
                    <strong class="bi bi-trash"> Poista kurssi </strong>
                </button>
            </form>
        </div>
</div>

