@{
    ViewData["Title"] = "Lisää tila.";
}
<div class="container mt-5" style="max-width: 700px;">
<h2 class="mb-4">Lisää uusi tila.</h2>
<p>Täytä alla olevat tiedot lisätäksesi uuden tilan järjestelmään.</p>

<form>
    <div class="mb-3">
        <label for="roomName" class="form-label fw-semibold">Tilan nimi.</label>
        <input type="text" class="form-control" id="roomName" rows="3">   
    </div>

    <div class="mb-3">
        <label for="roomSize" class="form-label fw-semibold">Tilan kapasiteetti.</label>
        <input type="number" class="form-control" id="roomSize" rows="3">   
    </div>

    <div class="mb-3">
        <label for="room_cname" class="form-label fw-semibold">Tilan tunnus.</label>
        <input type="text" class="form-control" id="room_cname" rows="3">   
    </div>

    <div class="mt-4">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i>Lisää tila
        </button>
        <a asp-action="index" class="btn btn-secondary ms-2">Peruuta</a>
    </div>
</form>
</div>
