@model IEnumerable<kurssienhallinta.Models.Room>
@{
    ViewData["Title"] = "Tilat.";
}
<div class="container mt-5" style="max-width: 700px;">
<h2 class="mb-4">Tilat.</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nimi.
            </th>
            <th>
                Kapasiteetti.
            </th>
            <th>
                Tunnus.
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var room in Model)
    {
        <tr>
            <td>@room.Name</td>
            <td>@room.Capacity</td>
            <td>@room.Room_code</td>
            <td><a asp-controller="Rooms" asp-action="Edit_room" asp-route-id="@room.Id" class="btn btn-primary btn-sm">Muokkaa</a></td>
        </tr>
    }
    </tbody>
</table>